
  <div class="container">
      
    
    <div>
        <h4>Añadir asignaturas:</h4>
      
      <ul>
        Asignaturas añadidas:
        <li *ngFor="let asign of subjectsToShow; let i = index">
          {{asign}}
          <button (click)="removeSubject(i)"> Quitar asignatura </button>

        </li>
      </ul>
      <label for="degree">Carrera:</label>
      
      <select name="degree" [(ngModel)]="degree"  >
       
          <option *ngFor="let degree of degrees" [value]="degree.name">{{degree.name}}</option>
        
        </select>
      <label for="course">Curso:</label>
      <select name="course" [(ngModel)]="course" >
        <option >1</option>
        <option >2</option>
        <option >3</option>
        <option >4</option>
      </select>
  
      <label for="subject">Asignatura:</label>
        <select name="subject" [(ngModel)]="idSubject"  >
          <option *ngFor="let subject of subjects | filterSignup: degree: course" [value]="subject._id">{{subject.name}}</option>
        </select>
      <button (click)="addSubject()"> Añadir asignatura </button>

    </div>
    
    
    <div>
      <form (ngSubmit)="signup(myForm)" #myForm="ngForm" ngNativeValidate>
            <h2> Signup </h2>
        <label> Username </label>
        <input type="text" ngModel name="username" required/>
        <br>
        <label> Email </label>
        <input type="mail" ngModel name="email" required/>
        <br>
        <label> Password </label>
        <input type="password" ngModel name="password" required/>
        <br>
      
        <label for="course">Género:</label>
        <select name="gender" ngModel required>
          <option >Hombre</option>
          <option >Mujer</option>
        </select>
        <br>
        <label> Fecha de nacimiento </label>
        <input type="date" ngModel name="birthDate" required/>
        <br>
        <label for="isTeacher"> ¿Eres profesor/a? </label>
        <input type="checkbox" name="isTeacher" ngModel>
   
        <br><br>
        <label for="file">Foto de perfil:</label>
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" required />
        <br>
        <div>
          <button type="submit">Sign up</button>
        </div>
        
      </form>
    </div>
    
  </div> 
  <p>{{feedback}}</p>
