
  <div class="container wrapper">
      
    
    <div>
        <h4>Añadir asignaturas:</h4>
      
      <ul>
        <li *ngFor="let asign of subjectsToShow; let i = index">
          {{asign}}
          <button class="btn btn-danger" (click)="removeSubject(i)">✖</button>

        </li>
      </ul>
      <div class="form-group">
        <label for="degree">Carrera:</label>
        
        <select class="form-control" name="degree" [(ngModel)]="degree"  >
         
            <option *ngFor="let degree of degrees" [value]="degree.name">{{degree.name}}</option>
          
          </select>
      </div>
      <div class="form-group">
        <label for="course">Curso:</label>
        <select class="form-control" name="course" [(ngModel)]="course" >
          <option >1</option>
          <option >2</option>
          <option >3</option>
          <option >4</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="subject">Asignatura:</label>
          <select class="form-control" name="subject" [(ngModel)]="idSubject"  >
            <option *ngFor="let subject of subjects | filterSignup: degree: course" [value]="subject._id">{{subject.name}}</option>
          </select>
      </div>
      <button class="btn btn-primary" (click)="addSubject()"> Añadir asignatura </button>

    </div>
    
    <br><br>
    <div>
      <form (ngSubmit)="signup(myForm)" #myForm="ngForm" ngNativeValidate>
            <h2> Signup </h2>
        <div class="form-group">
          <label> Username </label>
          <input class="form-control" type="text" ngModel name="username" required/>
        </div>
    
        <div class="form-group">
          <label> Email </label>
          <input class="form-control" type="mail" ngModel name="email" required/>
        </div>
    
        <div class="form-group">
          <label> Password </label>
          <input class="form-control" type="password" ngModel name="password" required/>
        </div>
     
      
        <div class="form-group">
          <label for="course">Género:</label>
          <select class="form-control" name="gender" ngModel required>
            <option >Hombre</option>
            <option >Mujer</option>
          </select>
        </div>
    
        <div class="form-group">
          <label> Fecha de nacimiento </label>
          <input class="form-control" type="date" ngModel name="birthDate" required/>
        </div>
      
        <div class="form-group">
          <label for="isTeacher"> ¿Eres profesor/a? </label>
          <input class="form-control" type="checkbox" name="isTeacher" ngModel>
        </div>
   
        <br>
        <div class="form-group">
          <label for="file">Foto de perfil:</label>
          <input class="form-control" type="file" name="file" ng2FileSelect [uploader]="uploader" required />
        </div>
       
        <div>
          <button class="btn btn-primary" type="submit">Sign up</button>
        </div>
        
      </form>
    </div>
    
  </div> 
  <p>{{feedback}}</p>
