/* You can add global styles to this file, and also import other style files */
.fake-link {
  cursor: pointer;
  
}
.wrapper {
  padding-top: 80px;
}
.scroll{
  overflow: scroll;
  height: 800px;
}
.scroll-medium {
  overflow: scroll;
  height: 400px;
}
li{
  list-style: none;
}
*{
  font-family: 'IBM Plex Serif', serif;

}
p{
  font-size: 3vw;
}
h4{
  font-size: 4vw;

}