/* You can add global styles to this file, and also import other style files */
.fake-link {
  cursor: pointer;
  
}
.wrapper {
  padding-top: 80px;
}
.scroll{
  overflow: scroll;
  height: 800px;
}
.scroll-medium {
  overflow: scroll;
  height: 400px;
}
li{
  list-style: none;
}
*{
  font-family: 'IBM Plex Serif', serif;
  background-color: rgb(200,200,200);

}
p{
  font-size: 3vw;
}
h4, h5{
  font-size: 4vw;

}
h3{
  font-size: 5vw;

}
.to-card{
  background-color: rgb(200,200,200);
}

.boton{
  color: black;
}
.ahi{
  color: black;
  background-color: grey;
  padding: 10px;
}
.title:hover { 
  background-color: yellow;
}