<nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Home
              <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a *ngIf="service.user" class="nav-link" [routerLink]="['/profile']" >Profile <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a *ngIf="!service.user" class="nav-link" [routerLink]="['/login']" >Log In <span class="sr-only"></span></a>
        
        </li>
        <li class="nav-item active">
            <a *ngIf="!service.user" class="nav-link" [routerLink]="['/signup']" >Sign Up <span class="sr-only"></span></a>
        
        </li>
        
      </ul>
    </div>
    <div class="justify-content-right">
       
            <span *ngIf="service.user" class="nav-link fake-link" (click)="service.logout().subscribe()" > Logout </span>

        
      </div>
  </nav>


      <router-outlet></router-outlet>
    
