<div class="container wrapper">
    <h1>ADMIN AREA</h1>
  <div *ngIf="user.isAdmin">
    <h3>CREAR ASIGNATURA</h3>
    <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" ngNativeValidate>
  
    <label for="name">Nombre de la nueva asignatura:</label>
    <input type="text" name="name" ngModel required>
    <br><br>
    <label for="course">Curso:</label>
    <select name="course" ngModel required>
      <option >1</option>
      <option >2</option>
      <option >3</option>
      <option >4</option>
    </select>
    <br><br>
  
    <label for="degree">Carrera a la que pertenece:</label>
    <select name="degree" ngModel required >
      <option *ngFor="let degree of degrees; let i=index" [value]="degree.name">{{degree.name}}</option>
    </select>
    
    <div>
      <button type="submit"> Crear asignatura </button>
    </div>
  </form>
  </div>
</div>

