<div class="container wrapper">
  <div *ngIf="service.user">
    <div>
      <h3>{{this.profile.username}}</h3>
      <img src="{{this.profile.photo}}" alt="">
      <h5 *ngIf="profile.isAdmin">Administrador</h5>
      <h5 *ngIf="!profile.isAdmin && profile.isTeacher && profile.gender == 'Hombre'">Profesor</h5>
      <h5 *ngIf="!profile.isAdmin && profile.isTeacher && profile.gender == 'Mujer'">Profesora</h5>
      <h5 *ngIf="!profile.isAdmin && !profile.isTeacher && profile.gender == 'Mujer'">Alumna</h5>
      <h5 *ngIf="!profile.isAdmin && !profile.isTeacher && profile.gender == 'Hombre'">Alumno</h5>

      <h5>{{this.profile.email}}</h5>
      <div *ngIf=" user.isAdmin">
        <a [routerLink]="['/admin']" class="btn btn-primary">Admin Area </a>
      </div>
    </div>

    <div>
      <ul>
        <h5>Asignaturas:</h5>
        <div class="accordion" id="accordion">

        <li *ngFor="let subject of profile.subjects; let i = index">
            <div class="card">
                <div class="card-header to-card" id="'heading'+ i">
                  <h5 class="mb-0">
                    <button class="btn btn-link boton" type="button" data-toggle="collapse" data-target="'#collapse' + i" aria-expanded="true" aria-controls="'collapse' + i">
                        {{subject.name}}
                    </button>
                  </h5>
                </div>
            
                <div id="'collapse' + i" class="collapse show" aria-labelledby="heading'+ i" data-parent="#accordion">
                  <div class="card-body">
                      <p>Carrera: {{subject.degree.name}}</p>
                      <p>Curso: {{subject.course}}</p>
                      <p>Hilos abiertos: {{subject.threads.length}}</p>
                      <a class="ahi" [routerLink]="['/subject', subject._id]">Entrar</a>        </div>
                </div>
              </div>
        </li>
      </div>
      </ul>
    </div>
  </div>
</div>





    
    
