<p>
  profile works!
</p>
<div class="container">
  <div>
    <h3>{{this.profile.username}}</h3>
    <img src="{{this.profile.photo}}" alt="">
    <h5 *ngIf="profile.isTeacher && profile.gender == 'Hombre'">Profesor</h5>
    <h5 *ngIf="profile.isTeacher && profile.gender == 'Mujer'">Profesora</h5>
    <h5 *ngIf="!profile.isTeacher && profile.gender == 'Mujer'">Alumna</h5>
    <h5 *ngIf="!profile.isTeacher && profile.gender == 'Hombre'">Alumno</h5>
    <h5>{{this.profile.email}}</h5>

  
  
  </div>
  <div>
    <ul>
      <li *ngFor="let subject of profile.subjects">
        <p>{{subject.name}}</p>
        <p>{{subject.degree.name}}</p>
        <p>{{subject.course}}</p>
        <!-- <p>{{}}</p> -->

      </li>


    </ul>


  </div>








</div>