<div *ngIf="user">
  <div class="container">

    <a [routerLink]="['/subject', idSubject]">
      <h4>Volver</h4>
    </a>

    <br>
    <br>
    <div *ngIf="thread._author">
      <h4>{{thread.title}}</h4>
      <p>{{thread._author.username}}</p>

      <div *ngIf="thread.updated_at === thread.created_at;else othersContent">
        <p>Creado el: {{thread.created_at | date:"dd/LL/y h:mm" }}</p>
      </div>

      <ng-template #othersContent>
        <p>Editado el: {{thread.updated_at | date:"dd/LL/y h:mm" }}</p>
      </ng-template>

      <p>{{thread.content}}</p>
    </div>

    <ul>
      <li *ngFor="let reply of thread.replies">
        <p>{{reply._author.username}}</p>

        <div *ngIf="reply.updated_at === reply.created_at;else otherContent">
          <p>Creado el: {{reply.created_at | date:"dd/LL/y h:mm" }}</p>
        </div>

        <ng-template #otherContent>
          <p>Editado el: {{reply.updated_at | date:"dd/LL/y h:mm" }}</p>
        </ng-template>

        <p [hidden]="isHidden">{{reply.content}}</p>
        
        <div *ngIf="user._id === reply._author._id">
            <textarea name="newReply" id="newReply" cols="30" rows="10" [hidden]="!isHidden">{{reply.content}}</textarea>
          <button (click)="editReply(reply._id)">Editar</button>
        </div>
      </li>
    </ul>



    <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" ngNativeValidate>

      <label for="content">Respuesta:</label>
      <br>
      <textarea name="content" ngModel required cols="80" rows="10"></textarea>
      <div>
        <button type="submit"> Crear respuesta </button>
      </div>
    </form>


  </div>
</div>